@using Project.Web.Net.Mvc.ViewModels
@model ContentViewModel


<form asp-controller="Dictionary" asp-action="Save" method="post">
    <div class="mb-2">
        <label class="form-label" asp-for="Topic">Topic</label>
        <input class="form-control" asp-for="Topic"/>
        <span class="text-danger" asp-validation-for="Topic"></span>
    </div>
    <div class="mb-2">
        <label class="form-label" asp-for="Author">Author</label>
        <input class="form-control" asp-for="Author" />
        <span class="text-danger" asp-validation-for="Author"></span>
    </div>
    <div class="mb-2">
        <label class="form-label" asp-for="AuthorsOpinion">Opinion</label>
        <input class="form-control" asp-for="AuthorsOpinion" />
        <span class="text-danger" asp-validation-for="AuthorsOpinion"></span>
    </div>
    <div class="mb-2">
        <label class="form-label" asp-for="Date">Date</label>
        <input class="form-control" asp-for="Date" />
        <span class="text-danger" asp-validation-for="Date"></span>
    </div>
    <button class="btn btn-primary" type="submit">Send</button>

</form>